.dice1
{

    color: antiquewhite;
    
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    text-align: center;
    font-weight: 200;
    color: aquamarine;
}
body {
    background-color: #393E46;
  }
  
.container{
    text-align: center
}
